body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a { 
    text-decoration: none;
    color: rgb(107, 101, 101);
}
 
main {
    margin: 0px;
}

// do not override tags styles, use classes
h1 {
    text-align: center;
}

//rename class name
.h1_small {
    text-align: center;
    color: gray;
    font-size: 14px;
}

// use class instad of nesting styles
h2 a {
    color: blueviolet;
    font-size: 20px;
}

.navigation_panel {
    background-color: rgb(0, 0, 0);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

// bad naming
.navigation_button li {
    display:inline;
    font-weight: 20;
    margin: 20px;

}
//bad naming
.site_navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 5px;
    border-radius: 5px;
    margin-left: 100px;

}
//bad naming
.search_form {
    padding: 8px;
    border-radius: 5px;
}

//bad naming

.button_for_search {
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 13px;
    background-color: white;
    border-radius: 5px;
    margin-left: 2px;
   
}
//bad naming

.title_site{
    background-color: yellowgreen;
    padding-top: 50px;
    padding-bottom: 50px;

}

//bad naming
.presentation_site {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:greenyellow;
    
}
//bad naming

.presentation_site_big_f {
    font-size: 52px;
    color: greenyellow;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

//bad naming
.btn {
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 13px;
    background-color: blue;
    color:black;
    border-radius: 5px;
    border: 2px solid rgb(55, 55, 192);
}

//bad naming
.main_inf_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

//bad naming
.footer_inf_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: goldenrod;
    padding-top: 40px;
    padding-bottom: 40px;
}

//bad naming
.btn_f {
    background-color: gray;
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 13px;
    color:black;
    border-radius: 5px;
    border: 2px solid rgb(128, 128, 190);
}

.circle_img {
    border-radius: 60%;
    color: black;
}

// use class
h3 a {
    color: rgb(167, 196, 38);
    font-size: 20px;
}

//bad naming
.footer_inf_2 {
    text-align: center;
}